<div class="container">
  <div class="container-inner">
    <div class="message-new">
      <div class="message-new-title">
        NEW MESSAGE
      </div>

      <div class="message-new-add-recipient">
        <form class="message-new-add-recipient-form">
          <span>ADD RECIPIENT DETAILS</span>

          <div class="message-new-add-recipient-form-input">
            <label for="first-name">First Name:</label>
            <span *ngIf="firstNameError" class="message-new-add-recipient-form-input-error">{{firstNameError}}</span>

            <input type="text" name="first-name" class="message-new-add-recipient-form-input-first-name" [(ngModel)]="recipientData.firstName" (ngModelChange)="validateName('message-new-add-recipient-form-input-first-name')" required>
          </div>

          <div class="message-new-add-recipient-form-input">
            <label for="last-name">Last Name:</label>
            <span *ngIf="lastNameError" class="message-new-add-recipient-form-input-error">{{lastNameError}}</span>

            <input type="text" name="last-name" class="message-new-add-recipient-form-input-last-name" [(ngModel)]="recipientData.lastName" (ngModelChange)="validateName('message-new-add-recipient-form-input-last-name')" required>
          </div>

          <div class="message-new-add-recipient-form-input">
            <label for="group">Relationship:</label>
            <select name="group" [(ngModel)]="recipientData.groupId" class="message-new-add-recipient-form-input-group">
              <option value="-1" class="message-new-add-recipient-form-input-relationship-blank">---</option>
              <option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</option>
            </select>
          </div>

          <div class="message-new-add-recipient-form-input">
            <label for="email">Email:</label>
            <span *ngIf="emailError" class="message-new-add-recipient-form-input-error">{{emailError}}</span>

            <input type="email" name="email" class="message-new-add-recipient-form-input-email" [(ngModel)]="recipientData.email" (ngModelChange)="validateEmail('ngModelChange')" (blur)="validateEmail('blur')" autocomplete="off" required>
          </div>

          <div class="message-new-add-recipient-form-input">
            <label for="phone">Phone Number:</label>
            <span *ngIf="phoneError" class="message-new-add-recipient-form-input-error">{{phoneError}}</span>
            <input type="tel" name="phone" class="message-new-add-recipient-form-input-phone" [(ngModel)]="recipientData.phoneNumber" (ngModelChange)="validatePhoneNumber('ngModelChange')" (blur)="validatePhoneNumber('blur')">
          </div>
        </form>
      </div>

      <div class="message-new-text">
        <form class="message-new-text-form">
          <span>WRITE A MESSAGE</span>

          <div class="message-new-text-form-input">
            <label for="title">Title:</label>
            <input type="text" name="title" class="message-new-text-form-input-title" [(ngModel)]="messageData.title">
          </div>

          <div class="message-new-text-form-input">
            <label for="message">Message:</label>
            <textarea rows="16" name="message" [(ngModel)]="messageData.message"></textarea>
          </div>

          <div class="buttons">
            <button type="button" class="buttons-primary" (click)='save()' >SUBMIT</button>
            <button type="button" class="buttons-secondary" routerLink="/messages">CANCEL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>