.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 134px);

  .container-inner {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 100%;
    max-height: calc(100vh - 134px);
    box-sizing: border-box;

    .message-new {
      flex: 1;
      overflow-y: auto;

      .message-new-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        letter-spacing: 2px;
        text-align: center;
        height: 60px;
        width: 100%;
        background-color: #478585;
        color: #fbfbfb;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      }

      .message-new-add-recipient {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 45px 0 30px;

        .message-new-add-recipient-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          span {
            text-align: center;
            letter-spacing: 1px;
            font-weight: bold;
            padding: 0 0 30px;
          }

          button {
            z-index: 1;
            font-size: 1.25rem;
            line-height: 1.25rem;
            letter-spacing: 2px;
            padding: 15px 30px;
            border: 0;
            border-radius: 2px;
            color: #fbfbfb;
            background-color: #478585;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
          }

          .message-new-add-recipient-form-input {
            display: flex;
            flex-direction: column;
            letter-spacing: 1px;
            width: 90%;
            padding-bottom: 15px;

            label {
              padding-bottom: 7.5px;
              color: #666;
            }

            input {
              font-size: 1rem;
              letter-spacing: 1px;
              padding: 15px;
              border-radius: 2px;
              border: 1px solid #206060;
            }

            select {
              font-size: 1rem;
              letter-spacing: 1px;
              padding: 15px;
              border-radius: 2px;
              border: 1px solid #206060;
            }

            span {
              text-align: left;
            }

            .message-new-add-recipient-form-input-error {
              padding-bottom: 7.5px;
              color: #bf4040;
            }
          }
        }
      }

      .message-new-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 45px;
        width: 100%;

        .message-new-text-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          letter-spacing: 1px;
          width: 100%;

          span {
            text-align: center;
            letter-spacing: 1px;
            font-weight: bold;
            padding: 0 0 30px;
          }

          .message-new-text-form-input {
            display: flex;
            flex-direction: column;
            letter-spacing: 1px;
            width: 90%;
            padding-bottom: 15px;

            label {
              padding-bottom: 7.5px;
              color: #666;
              width: 90%;
            }

            input {
              font-size: 1rem;
              letter-spacing: 1px;
              padding: 15px;
              border-radius: 2px;
              border: 1px solid #206060;
            }

            textarea {
              font-size: 1rem;
              letter-spacing: 1px;
              padding: 15px;
              border-radius: 2px;
              border: 1px solid #206060;
            }

            .message-new-text-form-input-error {
              text-align: left !important;
              padding-bottom: 7.5px !important;
              color: #bf4040 !important;
            }
          }
        }
      }
    }
  }
}
