.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 134px);

  .container-inner {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 100%;
    max-height: calc(100vh - 134px);
    box-sizing: border-box;

    .group-message {
      flex: 1;
      overflow-y: auto;

      .group-message-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        letter-spacing: 2px;
        text-align: center;
        height: 60px;
        width: 100%;
        background-color: #478585;
        color: #fbfbfb;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      }

      .group-message-view-members {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 45px 0 60px;

        span {
          text-align: center;
          letter-spacing: 1px;
          font-weight: bold;
          padding: 0 0 30px;
        }

        select {
          font-size: 1rem;
          letter-spacing: 1px;
          padding: 15px;
          min-width: 228.14px;
          max-width: 90%;
          border-radius: 2px;
          border: 1px solid #206060;
        }
      }

      .group-message-text-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 1px;
        width: 100%;
        margin-bottom: 45px;

        span {
          text-align: center;
          letter-spacing: 1px;
          font-weight: bold;
          padding: 0 0 30px;
        }

        label {
          padding-bottom: 7.5px;
          color: #666;
          width: 90%;
        }

        textarea {
          font-size: 1rem;
          letter-spacing: 1px;
          padding: 15px;
          width: 90%;
          border-radius: 2px;
          border: 1px solid #206060;
        }

        .group-message-text-form-buttons {
          display: flex;
          flex-direction: column;

          * {
            z-index: 1;
            font-size: 1.25rem;
            line-height: 1.25rem;
            letter-spacing: 2px;
            margin-top: 30px;
            padding: 15px 30px;
            border: 0;
            border-radius: 2px;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
          }

          .group-message-text-form-buttons-save {
            color: #fbfbfb;
            background-color: #478585;
          }

          .group-message-text-form-buttons-cancel {
            color: #478585;
            background-color: #fbfbfb;
            border: 1px solid #478585;
          }
        }
      }
    }
  }
}
