<div class="container">
  <div class="container-inner">
    <div class="group-message">
      <div class="group-message-title">
        MESSAGE TO {{groupName ? groupName.toUpperCase() : null}}
      </div>

      <div class="group-message-view-members">
        <span>VIEW GROUP MEMBERS</span>

        <select name="individual" class="group-message-view-members-select">
          <option value="-1">---</option>
          <option *ngFor="let groupMember of groupMembers" value="{{groupMember.id}}">{{groupMember.f_name}}
            {{groupMember.l_name}}</option>
        </select>
      </div>

      <form class="group-message-text-form">
        <span>WRITE A GROUP MESSAGE</span>

        <label for="message">Message:</label>
        <textarea rows="16" name="message">{{message}}</textarea>

        <div class="group-message-text-form-buttons">
          <button type="button" class="group-message-text-form-buttons-save">SAVE&nbsp;&nbsp;MESSAGE</button>
          <button type="button" class="group-message-text-form-buttons-cancel" routerLink="/messages">CANCEL</button>
        </div>
      </form>
    </div>
  </div>
</div>