<div class="container">
  <div class="container-inner">
    <div class="recipient-view">
      <div class="recipient-view-title">
        RECIPIENT
      </div>

      <div class="recipient-view-form">
        <form class="recipient-view-form-inner">
          <div class="recipient-view-form-inner-input">
            <label for="first-name">First Name:</label>
            <span *ngIf="firstNameError" class="recipient-view-form-inner-input-error">{{firstNameError}}</span>

            <input type="text" name="first-name" [(ngModel)]="formData.firstName" (ngModelChange)="validateName('recipient-view-form-inner-input-first-name')" class="recipient-view-form-inner-input-first-name"
              required>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="last-name">Last Name:</label>
            <span *ngIf="lastNameError" class="recipient-view-form-inner-input-error">{{lastNameError}}</span>

            <input type="text" name="last-name" [(ngModel)]="formData.lastName" (ngModelChange)="validateName('recipient-view-form-inner-input-last-name')" class="recipient-view-form-inner-input-last-name"
              required>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="group">Relationship:</label>
            <select name="group" [(ngModel)]="formData.groupId" class="recipient-view-form-inner-input-group">
              <option value="-1" class="recipient-view-form-inner-input-relationship-blank">---</option>
              <option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</option>
            </select>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="email">Email:</label>
            <span *ngIf="emailError" class="recipient-view-form-inner-input-error">{{emailError}}</span>

            <input type="email" name="email" class="recipient-view-form-inner-input-email" [(ngModel)]="formData.email" (ngModelChange)="validateEmail('ngModelChange')" (blur)="validateEmail('blur')" autocomplete="off" required>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="phone">Phone Number:</label>
            <span *ngIf="phoneError" class="recipient-view-form-inner-input-error">{{phoneError}}</span>

            <input type="tel" name="phone" class="recipient-view-form-inner-input-phone" [(ngModel)]="formData.phoneNumber" (ngModelChange)="validatePhoneNumber('ngModelChange')" (blur)="validatePhoneNumber('blur')">
          </div>

          <div class="recipient-view-form-input">
            <label for="title">Title:</label>
            <input type="text" name="title" class="recipient-view-form-input-title" [(ngModel)]="messageData.title">
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="message">Message:</label>
            <textarea rows="16" name="message" [(ngModel)]="messageData.message" class="recipient-view-form-inner-input-message"></textarea>
          </div>

          <div class="buttons">
            <button type="button" class="buttons-primary" (click)='saveChanges()'>SAVE&nbsp;&nbsp;CHANGES</button>
            <button type="button" class="buttons-secondary" routerLink="/messages">CANCEL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>