<div class="container">
  <div class="container-inner">
    <div class="recipient-view">
      <div class="recipient-view-title">
        RECIPIENT
      </div>

      <div class="recipient-view-form">
        <form class="recipient-view-form-inner">
          <div class="recipient-view-form-inner-input">
            <label for="first-name">First Name:</label>
            <input type="text" name="first-name" [(ngModel)]="formData.firstName" class="recipient-view-form-inner-input-first-name"
              required>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="last-name">Last Name:</label>
            <input type="text" name="last-name" [(ngModel)]="formData.lastName" class="recipient-view-form-inner-input-last-name"
              required>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="relationship">Relationship:</label>
            <select name="relationship" [(ngModel)]="formData.relationship" class="recipient-view-form-inner-input-relationship">
              <option value="-1" class="recipient-view-form-inner-input-relationship-blank">---</option>
              <option *ngFor="let relationship of relationships" value="{{relationship.id}}">{{relationship.name}}</option>
            </select>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="email">Email:</label>
            <input type="email" name="email" [(ngModel)]="formData.email" class="recipient-view-form-inner-input-email"
              required>
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="phone">Phone Number:</label>
            <input type="tel" name="phone" [(ngModel)]="formData.phoneNumber" class="recipient-view-form-inner-input-phone">
          </div>

          <div class="recipient-view-form-inner-input">
            <label for="message">Message:</label>
            <textarea rows="16" name="message" [(ngModel)]="message" class="recipient-view-form-inner-input-message"></textarea>
          </div>

          <div class="recipient-view-form-inner-buttons">
            <button type="button" class="recipient-view-form-inner-buttons-save" (click)='saveChanges()'>SAVE&nbsp;&nbsp;CHANGES</button>
            <button type="button" class="recipient-view-form-inner-buttons-cancel" routerLink="/messages">CANCEL</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>