<div class="login">
  <div class="login-header">
    <span>FINAL COUNTDOWN</span>
    <span>LOGIN</span>
  </div>

  <div class="login-form">
    <form class="login-form-inner">
      <div class="login-form-inner-input">
        <label for="email">EMAIL: </label>
        <input type="email" name="email" class="login-form-inner-input-email" required>
      </div>

      <div class="login-form-inner-input">
        <label for="password">PASSWORD: </label>
        <input type="password" name="password" class="login-form-inner-input-password" required>
      </div>

      <button type="submit" class="login-form-inner-submit">LOGIN</button>
    </form>
  </div>

  <div class="login-register-redirect">
    <span>Don't have an account?</span>&nbsp;&nbsp;<a routerLink="/register"><strong>SIGN UP</strong></a>
  </div>
</div>

<div class="background-image"></div>