<div class="login">
  <div class="login-header">
    <span>FINAL COUNTDOWN</span>
    <span>LOGIN</span>
  </div>

  <div class="login-form">
    <form class="login-form-inner">
      <div class="login-form-inner-input">
        <label for="email">Email: </label>
        <span *ngIf="emailError" class="login-form-inner-input-error">{{emailError}}</span>

        <input type="email" name="email" class="login-form-inner-input-email" [(ngModel)]="loginFormData.email"
          (ngModelChange)="validateEmail('ngModelChange')" (blur)="validateEmail('blur')" autocomplete="off" required>
      </div>

      <div class="login-form-inner-input">
        <label for="password">Password:</label>
        <span *ngIf="passwordError" class="login-form-inner-input-error">{{passwordError}}</span>

        <input type="password" name="password" class="login-form-inner-input-password" [(ngModel)]="loginFormData.password"
          (ngModelChange)="validatePassword('ngModelChange')" (blur)="validatePassword('blur')" required>
      </div>

      <span *ngIf="credentialsError" class="login-form-inner-credentials-error">{{credentialsError}}</span>

      <div class="buttons">
        <button type="button" class="buttons-primary" (click)="login()">REGISTER</button>
      </div>
    </form>
  </div>

  <div class="login-register-redirect">
    <span>Don't have an account?</span>&nbsp;&nbsp;<a routerLink="/register"><strong>SIGN UP</strong></a>
  </div>
</div>

<div class="background-image"></div>