<div class="register">
  <div class="register-header">
    <span>FINAL COUNTDOWN</span>
    <span>REGISTRATION</span>
  </div>

  <div class="register-form">
    <form class="register-form-inner">
      <div class="register-form-inner-input">
        <label for="email">Email: </label>
        <input type="email" name="email" class="register-form-inner-input-email" [(ngModel)]='RegisterFormData.email'
          required>
      </div>

      <div class="register-form-inner-input">
        <label for="first-name">First Name: </label>
        <input type="first-name" name="first-name" class="register-form-inner-input-first-name" [(ngModel)]='RegisterFormData.firstName'
          required>
      </div>

      <div class="register-form-inner-input">
        <label for="last-name">Last Name: </label>
        <input type="last-name" name="last-name" class="register-form-inner-input-last-name" [(ngModel)]='RegisterFormData.lastName'
          required>
      </div>

      <div class="register-form-inner-input">
        <label for="password">Password: </label>
        <input type="password" name="password" class="register-form-inner-input-password" [(ngModel)]='RegisterFormData.password'
          required>
      </div>

      <div class="register-form-inner-input">
        <label for="confirm">Confirm Password: </label>
        <input type="password" name="confirm" class="register-form-inner-input-confirm" [(ngModel)]='RegisterFormData.confirm' required>
      </div>

      <button type="button" class="register-form-inner-submit" (click)='register()'>REGISTER</button>
    </form>
  </div>

  <div class="register-login-redirect">
    <span>Already have an account?</span>&nbsp;&nbsp;<a routerLink="/login"><strong>LOG IN</strong></a>
  </div>
</div>

<div class="background-image"></div>