<div class="container">
  <div class="container-inner">
    <div class="unauth-homepage">
      <div class="unauth-homepage-splash">
        <div class="unauth-homepage-splash-layer"></div>
        <button class="unauth-homepage-splash-button" routerLink="/register">GET STARTED</button>
      </div>
      <div class="unauth-homepage-info">
        <p class="unauth-homepage-info-title">FINAL&nbsp;&nbsp;COUNTDOWN</p>
        <p class="unauth-homepage-info-caption">A chance to communicate from beyond the grave</p>
      </div>
    </div>
  </div>
</div>