<div class="container">
  <div class="container-inner">
    <div class="unauth-homepage">
      <div class="unauth-homepage-splash">
        <div class="unauth-homepage-splash-layer"></div>
        <button class="unauth-homepage-splash-button" routerLink="/register">GET STARTED</button>
      </div>
      <div class="unauth-homepage-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi unde aut labore earum tenetur modi iusto
        laborum! Soluta aperiam dolores aliquid? Fugiat doloribus velit laboriosam quam blanditiis consequatur at
        facilis.
      </div>
    </div>
  </div>
</div>