.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 134px);
  justify-content: center;

  .auth-home {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-flow: column;
    max-height: calc(100vh - 134px);

    .auth-home-contents {
      flex: 1;
      overflow-y: auto;

      .auth-home-contents-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        letter-spacing: 2px;
        text-align: center;
        height: 60px;
        width: 100%;
        background-color: #478585;
        color: #fbfbfb;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      }

      .auth-home-contents-personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .auth-home-contents-personal-title {
          text-align: center;
          font-weight: bold;
          letter-spacing: 1px;
          margin: 45px 0 30px;
        }

        .auth-home-contents-personal-filter {
          display: flex;
          flex-direction: column;
          letter-spacing: 1px;
          margin: 0 auto;
          width: 90%;

          label {
            padding-bottom: 7.5px;
            color: #666;
          }

          select {
            font-size: 1rem;
            letter-spacing: 1px;
            padding: 15px;
            border-radius: 2px;
            border: 1px solid #206060;
          }
        }

        .auth-home-contents-personal-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin: 15px 0;

          .auth-home-contents-personal-list-recipient {
            display: flex;
            font-size: 1rem;
            letter-spacing: 2px;
            width: 90%;
            height: 56px;
            margin-top: 15px;
            border-radius: 2px;
            border: 1px solid #206060;
            color: #666;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.125);
            background-color: #fff;

            .auth-home-contents-personal-list-recipient-envelope {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25%;

              svg {
                position: absolute;
                top: 16px;

                path {
                  fill: #478585;
                }
              }
            }

            .auth-home-contents-personal-list-recipient-name {
              display: flex;
              align-items: center;
              width: 75%;
            }
          }
        }

        .auth-home-contents-personal-new-message {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          font-size: 1.25rem;
          line-height: 1.25rem;
          letter-spacing: 2px;
          width: 90%;
          margin: 15px 0 45px;
          padding: 15px 30px;
          border: 0;
          border-radius: 2px;
          color: #fbfbfb;
          background-color: #478585;
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);

          svg {
            height: 32px;
            width: 30px;

            path {
              fill: #fbfbfb;
              stroke-width: 1px;
            }
          }

          span {
            padding-left: 7.5px;
          }
        }
      }

      .auth-home-contents-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
        width: 100%;

        .auth-home-contents-group-title {
          text-align: center;
          font-weight: bold;
          letter-spacing: 1px;
          margin-top: 15px;
        }

        .auth-home-contents-group-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin: 15px 0;

          .auth-home-contents-group-list-item {
            display: flex;
            font-size: 1rem;
            letter-spacing: 2px;
            width: 90%;
            height: 56px;
            margin-top: 15px;
            border-radius: 2px;
            border: 1px solid #206060;
            color: #666;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.125);

            .auth-home-contents-group-list-item-icon {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25%;

              svg {
                position: absolute;
                top: 16px;

                path {
                  fill: #478585;
                }
              }
            }

            .auth-home-contents-group-list-item-name {
              display: flex;
              align-items: center;
              width: 75%;
            }
          }
        }
      }
    }

    .auth-home-footer {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: fit-content;

      .auth-home-footer-toggle-countdown {
        z-index: 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.125rem;
        letter-spacing: 1px;
        height: 60px;
        width: 100%;
        padding: 0;
        border: 0;
        border-top: 1px solid #8f3d3d;
        background-color: #bf4040;
        color: #fbfbfb;
        box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);

        svg {
          height: 32px;
          width: 30px;

          path {
            fill: #fbfbfb;
          }
        }
      }
    }
  }
}

.confirmation-modal {
  position: absolute;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);

  .confirmation-modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
    letter-spacing: 1px;
    width: 90%;
    padding: 45px 0px;
    border-radius: 2px;
    background-color: #fbfbfb;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);

    .confirmation-modal-inner-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .confirmation-modal-inner-content-top {
        padding-bottom: 30px;
      }

      .confirmation-modal-inner-content-bottom {
        display: flex;
        align-items: center;
        padding-bottom: 15px;

        select {
          font-family: 'Lato', sans-serif;
          font-size: 1.25rem;
          font-weight: bold;
          letter-spacing: 1px;
          text-align-last: center;
          margin-right: 15px;
          padding: 12px 0 12px 12px;
          border-radius: 2px;
          border: 1px solid #bf4040;
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.125);
        }
      }
    }
  }
}
