<div class="auth-home">
  <div class="auth-home-contents">
    <div class="auth-home-contents-title">
      MESSAGES
    </div>
  </div>

  <div class="auth-home-buttons">
    <button class="auth-home-buttons-new-message">
      <!-- Source: Jam Icons (PLUS) -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4.5 -4.5 24 24" width="24" height="24" preserveAspectRatio="xMinYMin">
        <path d='M8.9 6.9v-5a1 1 0 1 0-2 0v5h-5a1 1 0 1 0 0 2h5v5a1 1 0 1 0 2 0v-5h5a1 1 0 1 0 0-2h-5z' />
      </svg>

      <span>NEW MESSAGE</span>
    </button>

    <button class="auth-home-buttons-toggle-countdown">
      <!-- Source: Jam Icons (ALERT) -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" height="24" preserveAspectRatio="xMinYMin">
        <path d='M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-13a1 1 0 0 1 1 1v5a1 1 0 0 1-2 0V6a1 1 0 0 1 1-1zm0 10a1 1 0 1 1 0-2 1 1 0 0 1 0 2z' />
      </svg>

      <span>ACTIVATE COUNTDOWN</span>

      <!-- Source: Jam Icons (ALERT) -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" height="24" preserveAspectRatio="xMinYMin">
        <path d='M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-13a1 1 0 0 1 1 1v5a1 1 0 0 1-2 0V6a1 1 0 0 1 1-1zm0 10a1 1 0 1 1 0-2 1 1 0 0 1 0 2z' />
      </svg>
    </button>
  </div>
</div>