/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #2b2b2b;
  background-color: #fbfbfb;
}

.active-link {
  font-weight: bold;
  color: #478585;
}

.shrink {
  font-size: 1.125rem !important;
  letter-spacing: 1.5px !important;
  padding: 22.5px 0 !important;
}

.grow {
  max-height: calc(100vh - 116px) !important;
}